.object-editor .parent {
  padding-left: 20px;
}

.object-editor .child {
  padding-left: 20px;
}

.object-editor .new-child {
  margin-left: 20px;
  display: block;
}

.object-editor .remove {
  cursor: pointer;
}
